.header {
  background-color: var(--primary-light);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  color: var(--primary-contrast-text);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
